html {
    /*画面サイズに応じて基本フォントサイズを変える*/
    font-size: calc(100% + 0.4vw);
  }
  body{
    color:#333;
  }
  header{
    height:30vh;
    background-image:url(../images/header_bg.png);
    background-size:cover;
  }
  header h1{
    font-size: 3rem;
    text-align: center;
    line-height: 30vh;
  }
  nav :active{
	  text-decoration: underline;
  }
  nav ul{
    padding:5px;
    background:#666;
    /*親要素にdisplay:flex*/
    display: flex;
    /*並べる方向*/
    flex-direction: column;
  }
  
  nav ul li a{
    display: block;
    padding:15px;
    border-radius: 5px;
    background:#999;
    color:white;
    text-decoration: none;
    border:1px solid #333;
  }
  /*属性セレクタ*/
  div[role=main]{
    background:#eee;
    padding:3vh 3vw 8vh;
    line-height: 1.8;
    min-height: 400px;
  }
  h2{
    text-align: center;
    font-size:1.5rem;
    margin-top:30px;
  }
  /*隣接セレクタ(h2の次にあるp)*/
  h2 + p{
    width:95%;
    margin:0 auto 20px;
    text-align: center;
  }
  
  #infoBox{
     display: flex;
     flex-direction: column;
  }
  
  #infoBox .info{
    position:relative;
    border-radius:5px;
    border:1px solid #333;
    margin:20px 10px;
    background:white;
  }
  
  #infoBox .info h3{
    padding:5px 20px;
    background:#666;
    color:#eee;
  }
  
  #infoBox .info p{
    padding:10px 20px 80px;
  }
  
  #infoBox .info p a,
  .blogItem > a
  {
    position:absolute;
    display: block;
    padding:10px;
    border-radius: 5px;
  
    background:#2196f3;
    text-decoration: none;
    color:white;
    bottom:15px;
    right:20px;
  }
  #blogBox{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  .blogItem{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #333;
    border-radius:5px;
    padding:16px 20px 80px;
    margin:10px;
    background:white;
  
  }
  .blogItem > div{
    text-align: center;
    margin-bottom:10px;
  }
  
  .blogItem img{
    display: block;
    width:200px;
  }
  
  footer{
    text-align: center;
    padding:10px 0;
    background:#666;
    color:white;
  }
  /*メディアクエリ*/
  @media screen and (min-width: 600px) {
    nav ul{
      padding-left:4vw;
      /*並べる方向*/
      flex-direction: row;
    }
    nav ul li a{
      margin-right:10px;
    }
  
  @media screen and (min-width: 768px) {
    .blogItem{
      flex-direction: row;
      align-items: flex-start;
    }
    .blogItem img{
      margin-right:20px;
    }
  }
  @media screen and (min-width: 960px) {
    #blogBox{
      flex-direction: row;
      /*要素が端までいったら折り返す*/
      flex-wrap:wrap;
    }
    .blogItem{
      /*flexitemの幅指定*/
      flex-basis:43%;
      flex-direction:column;
      align-items: center;
    }
  }
  @media screen and (min-width: 1200px) {
    #infoBox{
       flex-direction: row;
    }
    .blogItem{
      flex-direction:row;
      align-items: flex-start;
    }
}
  }